* {
  margin: 0;
  padding: 0;
  font-family: poppins;
}
img {
  width: 100%;
}
.navigation {
  width: 100%;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
  }
  .logo {
    width: 8%;
  }
  .nav-items {
    width: 30%;
    ul {
      list-style: none;
      display: flex;
      justify-content: space-around;
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}

.button {
  width: 10em;
  cursor: pointer;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff9100;
  a {
    color: black;
    text-decoration: none;
  }
}

.social-media {
  .img-container {
    display: flex;
    width: 20%;
    justify-content: space-between;
    align-items: center;
    img {
      width: 26%;
    }
  }
}

footer {
  background-color: #000;
  display: flex;
  height: 80px;
  color: white;

  align-content: center;
  justify-content: space-between;
  padding: 0em 4em;
  p {
    margin: 0;
    margin-top: 2em;
  }
}

@media only screen and (max-width: 1200px) {
  .button {
    font-size: 25px;
  }
  .navigation .nav-items {
    width: 60%;
  }
  .navigation .nav-items ul a {
    font-size: 25px;
  }
  .navigation .logo {
    width: 12%;
  }
}
